$primary-color: #0a073f;
$secondary-color: #ed5a5a;

.ChatPage {
  font-family: Comfortaa;
  .page__background { background-color: $primary-color;}

  &_div {
    margin: 30px auto;
    padding: 10px;
    background: white;
    width: 90vw;
    border-radius: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    &_image {
      width: 80px;
      height: 80px;
      margin-left: 10px;
    }
    &_container {
      display: flex;
      flex-direction: column;
      color: black;
      &_message {
        margin-top: 0;
      }
    }
  }

}