.ChatPage {
  font-family: 'Comfortaa'; }
  .ChatPage .page__background {
    background-color: #0a073f; }
  .ChatPage_div {
    margin: 30px auto;
    padding: 10px;
    background: white;
    width: 90vw;
    border-radius: 10px;
    height: 60px;
    display: flex;
    align-items: center; }
    .ChatPage_div_image {
      width: 80px;
      height: 80px;
      margin-left: 10px; }
    .ChatPage_div_container {
      display: flex;
      flex-direction: column;
      color: black; }
      .ChatPage_div_container_message {
        margin-top: 0; }

.ChatPageDesktop {
  display: flex; }
  .ChatPageDesktop_contact {
    width: 30%;
    height: 100vh;
    background-color: #0a073f;
    margin-left: 20%;
    position: fixed; }
    .ChatPageDesktop_contact_container {
      margin-top: 70px;
      margin-bottom: 70px; }
    .ChatPageDesktop_contact_card {
      width: 75%;
      height: 80px;
      border-radius: 10px;
      background-color: white;
      margin: 30px auto 0;
      display: flex; }
      .ChatPageDesktop_contact_card_notif {
        position: absolute;
        width: 20px;
        height: 20px;
        margin-left: -7px;
        margin-top: -7px;
        border-radius: 100px;
        background-color: #85FF00; }
      .ChatPageDesktop_contact_card_pic {
        width: 60px;
        height: 60px;
        border-radius: 100px;
        margin-top: 10px;
        margin-left: 20px; }
      .ChatPageDesktop_contact_card_contents_cardName {
        font-family: 'OpenSans';
        font-weight: bold;
        margin-left: 12px;
        margin-top: 18px; }
      .ChatPageDesktop_contact_card_contents_lastMessage {
        font-family: 'Comfortaa';
        font-size: 12px;
        margin-left: 12px;
        margin-top: -15px;
        color: rgba(0, 0, 0, 0.4); }
  .ChatPageDesktop_conv {
    width: 50%;
    height: auto;
    background-color: white;
    margin-left: 50%;
    overflow: hidden; }
    .ChatPageDesktop_conv_read {
      width: 100%;
      height: auto;
      position: relative; }
      .ChatPageDesktop_conv_read_contents {
        margin: 100px 60px; }
      .ChatPageDesktop_conv_read_received {
        height: 100px;
        width: 100%;
        display: flex;
        position: relative; }
        .ChatPageDesktop_conv_read_received_pic {
          width: 45px;
          height: 45px;
          margin-top: 30px; }
        .ChatPageDesktop_conv_read_received_message {
          background-color: #F3F3F3;
          color: black;
          margin-top: 25px;
          margin-left: 10px;
          padding: 20px 10px;
          border-radius: 10px; }
      .ChatPageDesktop_conv_read_send {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: relative; }
        .ChatPageDesktop_conv_read_send_message {
          background-color: #F04240;
          color: white;
          margin-top: 25px;
          margin-right: 10px;
          padding: 20px 10px;
          border-radius: 10px; }
        .ChatPageDesktop_conv_read_send_pic {
          width: 45px;
          height: 45px;
          margin-top: 30px; }
    .ChatPageDesktop_conv_sendingZone {
      width: 50%;
      height: 100px;
      background-color: #F3F3F3;
      position: fixed;
      bottom: 0; }
      .ChatPageDesktop_conv_sendingZone_input {
        width: 90%;
        height: auto;
        border-radius: 20px;
        border: none;
        margin-top: 25px;
        margin-left: 40px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        padding: 5px;
        font-family: 'Comfortaa';
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5); }
