@import 'forsize.scss';

.HomePage {
  .page__background {
    background-image: url('../icons/background.png') !important;
  }

  &_carousel1 {
    background-image: url('../icons/background.png');
  }

  &_carousel2 {
    &_profile {
      position: absolute;
    }

    &_loading {
      margin-top: 50%;
      margin-left: 21.5%;

      &_mask1 {
        margin-left: 75px;
        margin-top: 75px;
        position: absolute;
        z-index: 4;
      }

      &_mask2 {
        margin-left: 50px;
        margin-top: 50px;
        position: absolute;
        z-index: 3;
      }

      &_mask3 {
        margin-left: 25px;
        margin-top: 25px;
        position: absolute;
        z-index: 2;
      }

      &_mask4 {
        position: absolute;
        z-index: 1;
      }
    }
    background-image: url('../icons/background.png');
  }

  &_carousel3 {
    background-image: url('../icons/background.png');
  }
}
//Desktop

.HomePageDesktop {
  display: flex;
  width: 100%;
  height: 100vh;
  &_sideBar {
    height: 100vh;
    width: 20%;
    background-color: white;
    z-index: 2;

    &_profilePic {
      width: 90px;
      margin-left: 33%;
      margin-top: 50px;
      margin-bottom: 70px
    }

    &_nav {
      width: 100%;
      height: 200px;
    }

    &_items {
      width: 100%;
      height: 40px;
      margin-top: 17px;
      display: flex;
      transition: all 0.3s;

      &:hover {
        background-color: rgba(204,204,206,0.46);
      }

      &_icons {
        margin-top: 5px;
        margin-left: 20px;
        // La couleur de l'icone de l'onglet actif doit en #F04240
      }

      &_links {
        text-decoration: none;
        font-family: "Comfortaa";
        font-size: 21px;
        color: rgba(204,204,206,0.46);
        margin-top: 8px;
        margin-left: 20px;
        transition: all 0.3s;
      }
      &_span{
        color: #F04240; //La couleur du texte qund l'onglet est actif
      }
    }
  }

  .HomePageDesktop_map {
    width: 80%;
    height: 100vh;

    &_myPosition {
    position: absolute;
    top: 40%; left: 55%;
    transform: translate(-50%, -50%);
      &_mask1 {
        width: 70px;
        margin-left: 70px;
        margin-top: 70px;
        position: absolute;
        z-index: 4;
      }

      &_mask2 {
        margin-left: 50px;
        margin-top: 50px;
        position: absolute;
        z-index: 3;
      }

      &_mask3 {
        margin-left: 25px;
        margin-top: 25px;
        position: absolute;
        z-index: 2;
      }

      &_mask4 {
        position: absolute;
        z-index: 1;
      }
    }
    &_profiles{
      &_pic{
        width: 100px;
        border-radius: 100px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
          box-shadow: 0 0 40px rgba(255,255,255,0.5);
        }
      }
    }
  }
  .HomePageDesktop_view{
    display: none; //display: block; au click d'un profil sur la Map
    position: absolute;
    margin-left: 20%;
    width: 80%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 5;

    &_modal{
      font-family: "Comfortaa";
      width: 350px;
      height: 470px;
      border-radius: 10px;
      background-color: white;
      margin: 30vh auto;
      box-shadow: 0 0 30px rgba(255,255,255,0.7);
      z-index: 6;
      &_pic{
        width: 82px;
        margin-top: 15px;
        margin-left: 134px;
      }
      &_name{
        font-family: "Open Sans Condensed";
        font-weight: 700;
        font-size: 35px;
        margin-top: -5px;
        text-align: center;
      }
      &_planet{
        text-align: center;
        font-size: 20px;
        margin-top: -13px;
      }
      &_about{
        font-family: "Comfortaa";
        font-weight: bold;
        font-size: 20px;
        color: #F04240;
        margin-top: 25px;
        margin-left: 15px;
      }
      &_descri{
        height: 160px;
        font-size: 16px;
        margin-top: 5px;
        margin-left: 15px;
        margin-right: 15px;
      }
      &_button{
        font-family: "Comfortaa";
        font-size: 18px;
        width: 90%;
        color: white;
        background-color: #F04240;
        margin-left: 15px;
        margin-right: 15px;
        padding: 10px 0 10px 0;
        border: none;
        border-radius: 10px;

      }
    }
  }
}
