$secondary-color: #0a073f;

.InscriptionPage {
    font-family: Comfortaa !important;
    &_arrow {
        fill: #ed5a5a !important;
        width: 20px;
        margin-top: 20px;
        margin-left: 20px;
        position: absolute;
    }
    &_title {
        font-family: Comfortaa !important;
        text-align: center;
        color: white;
        font-size: 5px;
        padding-top: 100px !important;
    }
    .page__background { background-color: $secondary-color}
    &_containerInscription {
        background-color: white;
        min-height: 200px;
        max-width: 400px;
        min-width: 280px;
        margin-bottom: 40px;
        margin-top: 15%;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px;
        &_formInscription {
            color: white;
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            #password2 {
                margin-bottom: 15px;
                font-family: Comfortaa;
            }
            input {
                font-family: Comfortaa;
                margin-top: 15px;
                height: 38px;
                border-style: none;
                background-color: #F3F3F3;
                margin-left: 15px;
                margin-right: 15px;
                line-height: 20px;
        }

        &_flexName {
            display: flex;
            #nom {
                font-family: Comfortaa;

            }
            #prenom {
                margin-left: 0;
                font-family: Comfortaa;

            }

        }
            #date {
                font-family: Comfortaa;
                color: grey;
                width: 81vw;
            }
    }
    
}
    &_icon {
        display: block;
        margin: 0 auto;
    }
}
