.LoginPage {
  font-family: Comfortaa; }
  .LoginPage_index {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 20px; }
  .LoginPage .page__background {
    background-color: #0a073f; }
  .LoginPage_carousel {
    position: relative;
    overflow: auto;
    margin-top: 16%;
    height: 40%; }
    .LoginPage_carousel_div {
      display: flex;
      flex-direction: column;
      margin: 0 auto; }
      .LoginPage_carousel_div_img3 {
        margin: 0 auto;
        height: 40%; }
      .LoginPage_carousel_div_img2 {
        margin: 0 auto;
        width: 65%; }
    .LoginPage_carousel_textLogin {
      color: white;
      text-align: center; }
      .LoginPage_carousel_textLogin_textLoginContainer {
        display: inline-block;
        text-align: left;
        font-size: 1.1em; }
        .LoginPage_carousel_textLogin_textLoginContainer span {
          color: #ed5a5a;
          font-weight: bold; }
    .LoginPage_carousel_logo {
      margin: 36px 13px; }
    .LoginPage_carousel_stars1 {
      float: right;
      margin-right: 30px; }
    .LoginPage_carousel_stars2 {
      float: left;
      margin-top: 25%;
      margin-left: -20px; }
    .LoginPage_carousel_planet {
      float: left;
      margin-left: 30px; }

.containerLogin {
  background-color: white;
  min-height: 200px;
  max-width: 400px;
  min-width: 280px;
  height: 32%;
  margin-bottom: 38px;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  position: relative; }
  .containerLogin_params {
    display: flex;
    color: black;
    justify-content: space-between;
    font-size: 12px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
    padding-top: 0;
    white-space: nowrap;
    font-family: Comfortaa; }
    .containerLogin_params_checkbox {
      display: flex;
      color: black;
      white-space: nowrap;
      top: 0;
      align-items: flex-start; }
      .containerLogin_params_checkbox input {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        margin-left: 0 !important; }
    .containerLogin_params p {
      padding-top: -30px; }
  .containerLogin_formLogin {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 10px; }
    .containerLogin_formLogin input {
      font-size: 14px;
      padding-left: 10px;
      margin-top: 15px;
      height: 38px;
      border-style: none;
      background-color: #F3F3F3;
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 5px;
      line-height: 20px;
      font-family: Comfortaa; }
    .containerLogin_formLogin_buttons {
      display: flex;
      align-content: center;
      font-size: 2em;
      margin-top: 5px; }
      .containerLogin_formLogin_buttons_connect {
        background-color: #ed5a5a;
        border-style: none;
        padding: 3.5% 10%;
        border-bottom-right-radius: 10px;
        position: absolute;
        width: 50%;
        bottom: 0;
        right: 0;
        font-size: 14px;
        font-weight: bold;
        white-space: nowrap;
        font-family: Comfortaa; }
      .containerLogin_formLogin_buttons_create {
        background-color: #F3F3F3;
        border-style: none;
        padding: 3.5% 7%;
        width: 50%;
        border-bottom-left-radius: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 14px;
        white-space: nowrap;
        font-family: Comfortaa; }
