html {
  outline: none; }

.LoginPage {
  font-family: Comfortaa; }
  .LoginPage_modal {
    background: white;
    width: 300px;
    height: 150px;
    margin: 0 auto;
    border-radius: 10px;
    color: black; }
    .LoginPage_modal_p {
      padding-top: 15px;
      font-family: Comfortaa; }
    .LoginPage_modal input {
      font-size: 14px;
      padding-left: 10px;
      height: 38px;
      width: 260px;
      border-style: none;
      background-color: #F3F3F3;
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 5px;
      line-height: 20px;
      font-family: Comfortaa; }
    .LoginPage_modal button {
      background-color: #ed5a5a;
      margin-top: 5px;
      border-style: none;
      width: 300px;
      padding: 3.5% 10%;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      font-family: Comfortaa;
      outline: none; }
  .LoginPage_index {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 20px; }
  .LoginPage .page__background {
    background-color: #0a073f; }
  .LoginPage_carousel {
    position: relative;
    overflow: auto;
    margin-top: 16%;
    height: 40%; }
    .LoginPage_carousel_div {
      display: flex;
      flex-direction: column;
      margin: 0 auto; }
      .LoginPage_carousel_div_img3 {
        margin: 0 auto;
        height: 40%; }
      .LoginPage_carousel_div_img2 {
        margin: 0 auto;
        width: 65%; }
    .LoginPage_carousel_textLogin {
      color: white;
      text-align: center; }
      .LoginPage_carousel_textLogin_textLoginContainer {
        display: inline-block;
        text-align: left;
        font-size: 1.1em; }
        .LoginPage_carousel_textLogin_textLoginContainer span {
          color: #ed5a5a;
          font-weight: bold; }
    .LoginPage_carousel_logo {
      margin: 36px -9px; }
    .LoginPage_carousel_stars1 {
      float: right;
      margin-right: 30px; }
    .LoginPage_carousel_stars2 {
      float: left;
      margin-top: 28%;
      margin-left: -21px; }
    .LoginPage_carousel_planet {
      float: left;
      margin-left: 12px; }

.containerLogin {
  background-color: white;
  min-height: 200px;
  max-width: 400px;
  min-width: 280px;
  height: 32%;
  margin-bottom: 38px;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  position: relative; }
  @media (min-width: 600px) {
    .containerLogin {
      top: 0;
      right: 0;
      margin: 165px 80px 0 0; } }
  .containerLogin_params {
    display: flex;
    color: black;
    justify-content: space-between;
    font-size: 12px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
    padding-top: 0;
    white-space: nowrap;
    font-family: Comfortaa; }
    .containerLogin_params_checkbox {
      display: flex;
      color: black;
      white-space: nowrap;
      top: 0;
      align-items: flex-start; }
      .containerLogin_params_checkbox input {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        margin-left: 0 !important; }
    .containerLogin_params p {
      padding-top: -30px; }
  .containerLogin_formLogin {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 10px; }
    .containerLogin_formLogin input {
      font-size: 14px;
      padding-left: 10px;
      margin-top: 15px;
      height: 38px;
      border-style: none;
      background-color: #F3F3F3;
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 5px;
      line-height: 20px;
      font-family: Comfortaa; }
    .containerLogin_formLogin_buttons {
      display: flex;
      align-content: center;
      font-size: 2em;
      margin-top: 5px; }
      .containerLogin_formLogin_buttons_connect {
        background-color: #ed5a5a;
        border-style: none;
        padding: 3.5% 10%;
        border-bottom-right-radius: 10px;
        position: absolute;
        width: 50%;
        bottom: 0;
        right: 0;
        font-size: 14px;
        font-weight: bold;
        white-space: nowrap;
        font-family: Comfortaa; }
      .containerLogin_formLogin_buttons_create {
        background-color: #F3F3F3;
        border-style: none;
        padding: 3.5% 7%;
        width: 50%;
        border-bottom-left-radius: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 14px;
        white-space: nowrap;
        font-family: Comfortaa; }

.homeDesktop_inputContainer {
  display: flex; }

.homeDesktop_logo {
  width: 55px;
  height: 50px;
  margin: 32px 0 0 110px; }

.homeDesktop_inputs {
  top: 0;
  right: 0; }

.homeDesktop_inputItem {
  width: 200px;
  height: 24px;
  margin-right: 28px; }

.homeDesktop_btnConnexion {
  background-color: #ed5a5a;
  color: #FFF;
  border: none;
  font-size: 18px;
  width: 170px;
  height: 35px;
  border-radius: 15px;
  cursor: pointer;
  outline: none; }

.homeDesktop_container {
  margin: 32px 0 0 35%;
  top: 0;
  right: 0; }

.homeDesktop_forgotten {
  color: #ed5a5a;
  font-size: 10px;
  margin: 15px 0 0 236px;
  cursor: pointer; }

.homeDesktop_bigContainer {
  display: flex;
  justify-content: space-around; }

.homeDesktop_textContainer {
  margin: 150px 50px 0 150px; }

.homeDesktop_planet {
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  margin: 168px 0 0 560px;
  z-index: -1; }

.homeDesktop_stars1 {
  top: 0;
  left: 0;
  position: absolute;
  width: 87px;
  height: 85px;
  margin: 205px 0 0 110px;
  z-index: -1; }

.homeDesktop_stars2 {
  position: absolute;
  width: 87px;
  height: 85px;
  bottom: 0;
  left: 0;
  margin: 0px 0px 145px 619px;
  z-index: -1; }

.homeDesktop_textTitle {
  margin: 100px 0 0 0;
  font-size: 40px;
  color: #FFF; }

.homeDesktop_coloriage {
  color: #ed5a5a; }

.homeDesktop_inscriptionContainer {
  margin: 100px 0 0 0; }

.homeDesktop_createAccount {
  font-size: 60px;
  color: #FFF;
  margin: 100px 0 0 0; }

.homeDesktop_inscriptionBtn {
  background-color: #ed5a5a;
  color: #FFF;
  width: 440px;
  height: 40px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  margin: 22px 30px;
  cursor: pointer; }

.homeDesktop_flexName {
  display: flex; }

.homeDesktop_containerInscription {
  background-color: white;
  width: 500px;
  height: 370px;
  border-radius: 10px; }

.homeDesktop_formInscription {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 10px; }

.homeDesktop_inputItemForm {
  font-family: Comfortaa;
  margin-top: 15px;
  height: 38px;
  border-style: none;
  background-color: #F3F3F3;
  margin-left: 18px;
  margin-right: 15px;
  line-height: 20px;
  width: 447px;
  height: 35px;
  padding: 5px; }

.homeDesktop_containerInscription2 {
  display: flex;
  justify-content: space-around; }

.homeDesktop_logoStep2Container {
  width: 75px;
  height: 75px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 15px 3px #F1F1F1; }
  .homeDesktop_logoStep2Container:hover {
    background-color: #ed5a5a; }
  .homeDesktop_logoStep2Container h5 {
    font-size: 20px;
    padding: 14px 13px; }
    .homeDesktop_logoStep2Container h5:hover {
      color: #FFF; }

.homeDesktop_logoStep2 {
  width: 35px;
  height: 50px;
  margin: 10px 20px; }
  .homeDesktop_logoStep2:hover {
    color: #ed5a5a; }

.homeDesktop_titleStep2 {
  text-align: center; }
  .homeDesktop_titleStep2 h3 {
    margin: 15px 0 0 0 !important; }

.homeDesktop_titleContainerStep2 h3 {
  padding: 15px; }

.homeDesktop_buttonGalaxy {
  width: 450px;
  height: 44px;
  font-size: #949494;
  border: none;
  border-radius: 5px;
  background-color: #FFF;
  margin: 15px 20px;
  font-size: 20px;
  box-shadow: 0 0 15px 6px #F1F1F1;
  outline: none;
  cursor: pointer; }
  .homeDesktop_buttonGalaxy:hover {
    color: #ed5a5a; }

.homeDesktop_buttonGalaxy {
  width: 450px;
  height: 44px;
  font-size: #949494;
  border: none;
  border-radius: 5px;
  background-color: #FFF;
  margin: 15px 20px;
  font-size: 20px;
  box-shadow: 0 0 15px 6px #F1F1F1;
  outline: none;
  cursor: pointer; }
  .homeDesktop_buttonGalaxy:hover {
    color: #ed5a5a; }

.homeDesktop_profileItemContainer {
  display: flex;
  justify-content: space-around; }

.homeDesktop_inputItemFormImgContainer {
  margin: 0 25px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #FFF;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 3px;
  box-shadow: 0 0 15px 2px rgba(242, 241, 241, 0.644); }

.homeDesktop_selectItemForm {
  flex-direction: column;
  width: 310px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #FFF;
  box-shadow: 0 0 15px 2px rgba(242, 241, 241, 0.644);
  margin-bottom: 17px; }

.homeDesktop_bioContainer {
  margin: 0 auto; }

.homeDesktop_bioContent {
  box-shadow: 0 0 15px 2px rgba(242, 241, 241, 0.644);
  border: none;
  width: 400px;
  padding-bottom: 80px;
  margin: 20px 50px; }
