@import 'forsize.scss';
$primary-color: #ed5a5a;
$secondary-color: #0a073f;
html{
    outline: none;
}

.LoginPage {

    &_modal {
        background: white;
        width: 300px;
        height: 148px;
        margin: 0 auto;
        border-radius: 10px;
        color: black;
        &_p {
            padding-top: 15px;
            font-family: Comfortaa;
        }
        input {
            font-size: 14px;
            padding-left: 10px;
            height: 38px;
            width: 260px;
            border-style: none;
            background-color: #F3F3F3;
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 5px;
            line-height: 20px;
            font-family: Comfortaa;
        }
        button {
            background-color: #ed5a5a;
            margin-top: 5px;
            border-style: none;
            width: 300px;
            padding: 3.5% 10%;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            font-family: Comfortaa;
            outline: none;
        }
    }
    font-family: Comfortaa;
    &_index {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 35%;
        margin-right: 35%;
        margin-top: 20px;
    }
    .page__background { background-color: $secondary-color}
    &_carousel {
        position:relative;
        overflow:auto;
        margin-top: 16%;
        height: 40%;
        &_div {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            &_img3 {
                margin: -10px auto;
                width: 55%;
                height: 100%;
                overflow: hidden;
            }
            &_img2 {
                 margin: -43px auto;
                 width: 350px;
            }
        }
        &_textLogin {
            color: white;
            text-align: center;
            &_textLoginContainer {
                display: inline-block;
                text-align: left;
                font-size: 1.1em;
                span {
                    color: $primary-color;
                    font-weight: bold;
                }
            }
        }
        &_logo {
            margin: 36px -9px;
        }
        &_stars1 {
            float: right;
            margin-right: 41px;
        }
        &_stars2 {
            float: left;
            margin-top: 28%;
            margin-left: -21px;
        }
        &_planet {
            float: left;
            margin-left: 33px;
        }
    }
}

.containerLogin {
    background-color: white;
    min-height: 200px;
    max-width: 400px;
    min-width: 280px;
    height: 32%;
    margin-bottom: 38px;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    position: relative;
    @include for-size('tablet-portrait-up'){
        top: 0;
        right: 0;
        margin: 165px 80px 0 0;
    }
    &_params {
        display: flex;
        color: black;
        justify-content: space-between;
        font-size: 12px;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 20px;
        padding-top: 0;
        white-space: nowrap;
        font-family: Comfortaa;
        &_checkbox {
            display: flex;
            color: black;
            white-space: nowrap;
            top: 0;
            align-items: flex-start;
            input {
                margin-bottom: 0 !important;
                margin-top: 0 !important;
                margin-left: 0 !important;
            }
        }
        p {
            padding-top: -30px;
        }
    }
    &_formLogin {
        color: white;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        input {
            font-size: 14px;
            padding-left: 10px;
            margin-top: 15px;
            height: 38px;
            border-style: none;
            background-color: #F3F3F3;
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 5px;
            line-height: 20px;
            font-family: Comfortaa;
        }
        &_buttons {
            display: flex;
            align-content: center;
            font-size: 2em;
            margin-top: 5px;
            &_connect {
                background-color: $primary-color;
                border-style: none;
                padding: 3.5% 10%;
                border-bottom-right-radius: 10px;
                position: absolute;
                width: 50%;
                bottom: 0;
                right: 0;
                font-size: 14px;
                font-weight: bold;
                white-space: nowrap;
                font-family: Comfortaa;
            }
            &_create {
                background-color: #F3F3F3;
                border-style: none;
                padding: 3.5% 7%;
                width: 50%;
                border-bottom-left-radius: 10px;
                position: absolute;
                bottom: 0;
                left: 0;
                font-size: 14px;
                white-space:nowrap;
                font-family: Comfortaa;

            }
        }
    }
}

// Desktop header

.homeDesktop{
    &_inputContainer{
        display: flex;
    }
    &_logo{
        width: 55px;
        height: 50px;
        margin: 32px 0 0 110px;
    }
    &_inputs{
        top: 0;
        right: 0;
    }
    &_inputItem{
        width: 200px;
        height: 24px;
        margin-right: 28px;
        border-radius: 4px;
        outline: none;
        border: none;
    }
    &_btnConnexion{
        background-color: $primary-color;
        color: #FFF;
        border: none;
        font-size: 18px;
        width: 170px;
        height: 35px;
        border-radius: 15px;
        cursor: pointer;
        outline: none;
    }
    &_container{
        margin: 32px 0 0 35%;
        top: 0;
        right: 0;
    }
    &_forgotten{
        color: $primary-color;
        font-size: 10px;
        margin: 15px 0 0 236px;
        cursor: pointer;
    }
    // Homepage Content
    &_bigContainer{
        display: flex;
        justify-content: space-around;
    }
    // left side homepage content
    &_textContainer{
        margin: 150px 50px 0 150px;
    }

    &_planet{
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;
        position: absolute;
        margin: 168px 0 0 560px;
        z-index: -1;
    }
    &_stars1{
        top: 0;
        left: 0;
        position: absolute;
        width: 87px;
        height: 85px;
        margin: 205px 0 0 110px;
        z-index: -1;
    }
    &_stars2{
        position: absolute;
        width: 87px;
        height: 85px;
        bottom: 0;
        left: 0;
        margin: 0px 0px 145px 619px;
        z-index: -1;
    }
    &_textTitle{
        margin: 100px 0 0 0;
        font-size: 40px;
        color: #FFF;
    }
    &_coloriage{
        color: $primary-color;
    }

    // Right side homepage content
    &_inscriptionContainer{
        margin: 100px 0 0 0;
    }
    &_createAccount{
        font-size: 60px;
        color: #FFF;
        margin: 100px 0 0 0;
    }
    &_inscriptionBtn{
        background-color: #ed5a5a;
        color: #FFF;
        width: 440px;
        height: 40px;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        margin: 22px 30px;
        cursor: pointer;
    }
    &_flexName{
        display: flex;
    }
     &_containerInscription {
        background-color: white;
         width: 500px; 
         height: 370px;
         border-radius: 10px;
    }

        &_formInscription {
            color: white;
            display: flex;
            flex-direction: column;
            margin-top: 10px;
        }
        &_inputItemForm{
            font-family: Comfortaa;
            margin-top: 15px;
            height: 38px;
            border-style: none;
            background-color: #F3F3F3;
            margin-left: 18px;
            margin-right: 15px;
            line-height: 20px;
            font-size: 12px;
            width: 447px;
            height: 35px;
            padding: 5px;
        }
        &_containerInscription2{
            display: flex;
            justify-content: space-around;
        }
        &_logoStep2Container{
            width: 75px;
            height: 75px;
            background-color: #FFF;
            border-radius: 5px;
            box-shadow: 0 0 15px 3px #F1F1F1;
            &:hover{
                background-color: rgb(237, 90, 90);
            }
            h5{
            font-size: 20px;
            padding: 14px 13px;
            &:hover{
                color: #FFF;
            }
             }
            }
        &_logoStep2{
            width: 35px;
            height: 50px;
            margin: 10px 20px;
            &:hover{
                color: $primary-color;
            }
        }
        &_titleStep2{
            text-align: center;
            h3{
                 margin: 15px 0 0 0 !important;
            }
        }
        &_titleContainerStep2{
            h3 {
                padding: 15px;
            }
        }
        &_buttonGalaxy{
            width: 450px;
            height: 44px;
            font-size: #949494;
            border: none;
            border-radius: 5px;
            background-color: #FFF;
            margin: 15px 20px;
            font-size: 20px;
            box-shadow: 0 0 15px 6px #F1F1F1;
            outline: none;
            cursor: pointer;
            &:hover{
                color: $primary-color;
            }
        }
        &_buttonGalaxy{
            width: 450px;
            height: 44px;
            font-size: #949494;
            border: none;
            border-radius: 5px;
            background-color: #FFF;
            margin: 15px 20px;
            font-size: 20px;
            box-shadow: 0 0 15px 6px #F1F1F1;
            outline: none;
            cursor: pointer;
            &:hover{
                color: $primary-color;
            }
        }
        &_profileItemContainer{
            display: flex;
            justify-content: space-around;
        }
        &_inputItemFormImgContainer{
            margin: 0 25px;
            width: 100px;
            height: 100px;
            border-radius: 50px;
            background-color: #FFF;
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 3px;
            box-shadow: 0 0 15px 2px rgba(242, 241, 241, 0.644);
        }
        &_inputItemFormImg{
            display: none;
        }
        &_selectItemForm{
            flex-direction: column;
            width: 310px;
            height: 35px;
            border: none;
            border-radius: 5px;
            background-color: #FFF;
            box-shadow: 0 0 15px 2px rgba(242, 241, 241, 0.644);
            margin-bottom: 17px;
        }
        &_bioContainer{
            margin: 0 auto;
        }
        &_bioContent{
            box-shadow: 0 0 15px 2px rgba(242, 241, 241, 0.644);
            border: none;
            width: 400px;
            padding-bottom: 80px;
            margin: 20px 50px;
        }
        label {
            cursor: pointer;
            color: $primary-color;
            font-weight: bold;
            font-size: 12px;
            text-align: center;
         }
         
         #upload-photo {
            opacity: 0;
            position: absolute;
            z-index: -1;
         }
}