.App {
  text-align: center;
  font-family: Comfortaa !important; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.tabbar {
  /*background-color: #A0A0A0 !important;*/
  color: white !important; }

:checked + .tabbar__button {
  color: #F04240 !important;
  transition: all .2s ease-in-out;
  transform: scale(1.2); }

.loading {
  display: block;
  margin: 0 auto;
  margin-top: 55% !important; }

.MainPage_loading {
  margin-top: 50%;
  margin-left: 21.5%; }
  .MainPage_loading_mask1 {
    margin-left: 75px;
    margin-top: 75px;
    position: absolute;
    z-index: 4;
    -webkit-animation: fade 0.4s infinite;
    /* Safari 4+ */
    -moz-animation: fade 0.4s infinite;
    /* Fx 5+ */
    -o-animation: fade 0.4s infinite;
    /* Opera 12+ */
    animation: fade 0.4s infinite; }
  .MainPage_loading_mask2 {
    margin-left: 50px;
    margin-top: 50px;
    position: absolute;
    z-index: 3;
    -webkit-animation: fade 0.5s infinite;
    /* Safari 4+ */
    -moz-animation: fade 0.5s infinite;
    /* Fx 5+ */
    -o-animation: fade 0.5s infinite;
    /* Opera 12+ */
    animation: fade 0.5s infinite; }
  .MainPage_loading_mask3 {
    margin-left: 25px;
    margin-top: 25px;
    position: absolute;
    z-index: 2;
    -webkit-animation: fade 0.7s infinite;
    /* Safari 4+ */
    -moz-animation: fade 0.7s infinite;
    /* Fx 5+ */
    -o-animation: fade 0.7s infinite;
    /* Opera 12+ */
    animation: fade 0.7s infinite; }
  .MainPage_loading_mask4 {
    position: absolute;
    z-index: 1;
    -webkit-animation: fade 1s infinite;
    /* Safari 4+ */
    -moz-animation: fade 1s infinite;
    /* Fx 5+ */
    -o-animation: fade 1s infinite;
    /* Opera 12+ */
    animation: fade 1s infinite; }

@media (min-width: 421px) {
  .MainPage_loading {
    margin-top: 20%;
    margin-left: 42%; }
    .MainPage_loading_mask1 {
      margin-left: 75px;
      margin-top: 75px;
      position: absolute;
      z-index: 4;
      -webkit-animation: fade 0.4s infinite;
      /* Safari 4+ */
      -moz-animation: fade 0.4s infinite;
      /* Fx 5+ */
      -o-animation: fade 0.4s infinite;
      /* Opera 12+ */
      animation: fade 0.4s infinite; }
    .MainPage_loading_mask2 {
      margin-left: 50px;
      margin-top: 50px;
      position: absolute;
      z-index: 3;
      -webkit-animation: fade 0.5s infinite;
      /* Safari 4+ */
      -moz-animation: fade 0.5s infinite;
      /* Fx 5+ */
      -o-animation: fade 0.5s infinite;
      /* Opera 12+ */
      animation: fade 0.5s infinite; }
    .MainPage_loading_mask3 {
      margin-left: 25px;
      margin-top: 25px;
      position: absolute;
      z-index: 2;
      -webkit-animation: fade 0.7s infinite;
      /* Safari 4+ */
      -moz-animation: fade 0.7s infinite;
      /* Fx 5+ */
      -o-animation: fade 0.7s infinite;
      /* Opera 12+ */
      animation: fade 0.7s infinite; }
    .MainPage_loading_mask4 {
      position: absolute;
      z-index: 1;
      -webkit-animation: fade 1s infinite;
      /* Safari 4+ */
      -moz-animation: fade 1s infinite;
      /* Fx 5+ */
      -o-animation: fade 1s infinite;
      /* Opera 12+ */
      animation: fade 1s infinite; } }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
