$primary-color: #222;

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: $primary-color;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tabbar {
    /*background-color: #A0A0A0 !important;*/
    color: white !important;
}

:checked + .tabbar__button {
    color: #F04240 !important;
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}