@import 'forsize.scss';
$primary-color: #0a073f;
$secondary-color: #ed5a5a;

.ProfilePage {
  font-family: Comfortaa;
  &_suppress {
    text-align: center;
    font-family: Comfortaa;
    color: white;
    font-size: 12px;
  }
  &_deconnection {
    background-color: #ed5a5a;
    margin-top: 5px;
    border-style: none;
    width: 160px;
    padding: 2.5% 5%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    font-family: Comfortaa;
  }
  &_arrow {
    fill: #ed5a5a !important;
    width: 20px;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
  }
  .page__background { background-color: $primary-color;}
  &_image {
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 40%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 70%,
            $primary-color), url('../icons/imageProfile.png');
  }
  &_description {
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: white;
    font-family: Comfortaa;
    &_description {
      overflow-wrap: break-word;
      margin-top: -10px !important;
      font-family: Comfortaa;
    }
    &_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: Comfortaa;
      svg {
        fill: #ed5a5a !important;
        width: 25px;
      }
    }
    &_about {
      color: $secondary-color;
      font-family: Comfortaa;
    }
    &_response {
      color: $secondary-color;
      font-family: Comfortaa;
    }
    &_place {
      margin-top: -10px !important;
      font-family: Comfortaa;
    }
  }
}
// Desktop profile page

.ProfilePageDesktop{
  background-color: #0a073f;
  height: 100vh;
  &_image {
    position: absolute;
    top: 33%;
    left: 30%;
    right: 0;
    width: 230px;
    height: 230px;
  }

  &_description{
    position: absolute;
    top: 30%;
    left: 46.3%;
    width: 42vw;
    height: 35vh;

    &_header_name{
      position: absolute;
      color: white;
      font-family: 'Helvetica';
      font-size: 48px;
      top: -12%;
      left: 10%;
    }
    &_about{
      position: absolute;
      color: #ed5a5a;
      font-family: 'Helvetica';
      font-size: 18px;
      top: 30%;
      left: 10%;
    }
    &_place{
      position: absolute;
      color: white;
      font-family: 'Helvetica';
      font-size: 18px;
      top: 20%;
      left: 10%;
    }
    &_txt{
      position: absolute;
      color: white;
      font-family: 'Helvetica';
      font-size: 18px;
      top: 40%;
      left: 10%;
      line-height: 1.5;
    }
    &_settings{
      position: absolute;
      height: 40px;
      width: 40px;
      right: 5%;
      top: 5%;
    }
    &_input_logout{
      position: absolute;
      font-size: 18px;
      color: white;
      background-color: #ed5a5a;
      border-style: none;
      width: 160px;
      padding: 0 1% 0 1%;
      border-radius: 10px;
      display: block;
      bottom: 30%;
      left: 30.5%;
      font-family: 'Comfortaa';
      height: 30px;
      width: 207px;
      display: none;
   }
   &_input_delete{
    background-color: #0a073f;
    border-style: none;
    position: absolute;
    font-size: 18px;
    color: #DCDCDC;
    width: 160px;
    display: block;
    bottom: 24%;
    left: 30.5%;
    font-family: 'Comfortaa';
    height: 30px;
    width: 207px;
    display: none;
  }
  &_settings_ok{
    display: none;
    position: absolute;
    height: 40px;
    width: 40px;
    right: 5%;
    top: 5%;
  }
}
}