.ProfilePage {
  font-family: Comfortaa; }
  .ProfilePage .page__background {
    background-color: #0a073f; }
  .ProfilePage_image {
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 40%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, #0a073f), url("../icons/imageProfile.png"); }
  .ProfilePage_description {
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: white; }
    .ProfilePage_description_description {
      overflow-wrap: break-word;
      margin-top: -10px !important; }
    .ProfilePage_description_header {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .ProfilePage_description_about {
      color: #ed5a5a; }
    .ProfilePage_description_response {
      color: #ed5a5a; }
    .ProfilePage_description_place {
      margin-top: -10px !important; }
