$primary-color: #0a073f;
$secondary-color: #ed5a5a;

.ProfilePage {
  font-family: Comfortaa;
  &_deconnection {
    background-color: #ed5a5a;
    margin-top: 5px;
    border-style: none;
    width: 160px;
    padding: 2.5% 5%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    font-family: Comfortaa;
  }
  &_arrow {
    fill: #ed5a5a !important;
    width: 20px;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
  }
  .page__background { background-color: $primary-color;}
  &_image {
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 40%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 70%,
            $primary-color), url('../icons/imageProfile.png');
  }
  &_description {
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: white;
    font-family: Comfortaa;
    &_description {
      overflow-wrap: break-word;
      margin-top: -10px !important;
      font-family: Comfortaa;
    }
    &_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: Comfortaa;
      svg {
        fill: #ed5a5a !important;
        width: 25px;
      }
    }
    &_about {
      color: $secondary-color;
      font-family: Comfortaa;
    }
    &_response {
      color: $secondary-color;
      font-family: Comfortaa;
    }
    &_place {
      margin-top: -10px !important;
      font-family: Comfortaa;
    }
  }
}